<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
      <a href="{{.URL | relLangURL }}">
        {{ .Pre }}
        <span>{{ i18n .Name }}</span>
      </a>
    </li>
    {{end}}
    {{ range $.Site.Home.AllTranslations }}
    <li><a style="font-size:75%" href="{{ .Permalink }}">{{ .Language.LanguageName }} <img src="/images/{{ .Language }}-flag.JPG" alt="flag" width="20"></a></li>
    {{ end }}
  </ul>
</div>